{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_label(form.repositoryName) }}
    {{ form_widget(form.repositoryName) }}
    {{ form_label(form.comment) }}
    {{ form_widget(form.comment) }}
    <button type="submit">Ajouter un commentaire</button>
    {{ form_end(form) }}

    {% if old_commentaries is defined and old_commentaries is not null %}
        {% for old_commentary in old_commentaries %}
            {{ old_commentary.comment }}
        {% endfor %}
    {% endif %}
{% endblock %}
