{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form.query) }}
    <button type="submit">SEARCH</button>
    {{ form_end(form) }}

    {% if users is defined and users is not null %}
        {% for user in users %}
            <a href="{{ path('comment', {'username': user.login }) }}">{{ user.login }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
